# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# generated resources
src/generated/

# other
eclipse
run
runs
run-data

repo
/.output.txt
/.claude/settings.local.json
/config/ott.json
/logs/*
/scripts/*
/src/to_be_added/*
/ott_blocks/logs/*